.inf_sub_section2{
    margin-top: 100px;
}


.a4{
    background-color: #1642B6;
    color: white;
}
.a4::before{
    display: none;
}
.a44{
    background-color: #1642B6;
    color: white;
}
.a44::before{
    display: none;
}
.a444{
    background-color: #1642B6;
    color: white;
}
.a444::before{
    display: none;
}
.a4444{
    background-color: #1642B6;
    color: white;
}
.a4444::before{
    display: none;
}
.a44444{
    background-color: #1642B6;
    color: white;
}
.a44444::before{
    display: none;
}