
.a6{
    background-color: #1642B6;
    color: white;
}
.a6::before{
    display: none;
}
.a66{
    background-color: #1642B6;
    color: white;
}
.a66::before{
    display: none;
}
.a666{
    background-color: #1642B6;
    color: white;
}
.a666::before{
    display: none;
}
.a6666{
    background-color: #1642B6;
    color: white;
}
.a6666::before{
    display: none;
}
.a66666{
    background-color: #1642B6;
    color: white;
}
.a66666::before{
    display: none;
}