
.a5{
    background-color: #1642B6;
    color: white;
}
.a5::before{
    display: none;
}
.a55{
    background-color: #1642B6;
    color: white;
}
.a55::before{
    display: none;
}
.a555{
    background-color: #1642B6;
    color: white;
}
.a555::before{
    display: none;
}
.a5555{
    background-color: #1642B6;
    color: white;
}
.a5555::before{
    display: none;
}
.a55555{
    background-color: #1642B6;
    color: white;
}
.a55555::before{
    display: none;
}